<!--nav class="navbar fixed-bottom navbar-light bg-light">
{%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
{%- endif %}
</nav-->
<div class="container foter">
    <div class:"row">
        <div class="col-4">
            <p>
                <a href="voorwaarden.html" class="letter2">Voorwaarden</a>
            </p>
        </div>
    </div>

    <div class:"row">
        <div class="col-4">
            <p>
                <a href="over_ons.html"class="letter2">contact</a>
            </p>
        </div>
    </div>

    <div class:"row">
        <div class="col-12">
            <p class="letter2">
                cinematickets zijn verkrijgbaar via: <a href="https://kinepolis.be/nl/bioscopen/kinepolis-gent" target="_blank"> www.utopolis.be/Gent</a>
            </p>
        </div>
    </div>

<!-- social media icons -->
    <div class="row">
        <div class="col-3">
            <a href="http://twitter.com" target="_blank">
                <img src="{{ site.baseurl }}/images/twit.png" alt="twitter">
            </a>
        </div>


        <div class="col-3">
            <a href="http://facebook.com" target="_blank">
                <img src="{{ site.baseurl }}/images/face.png" alt="facebook">
            </a>
        </div>
    

        <div class="col-3">
            <a href="http://instagram.com" target="_blank">
                <img src="{{ site.baseurl }}/images/insta.png" alt="instagram">
            </a>
        </div>
       

        <div class="col-3">
            <a href="" target="_blank">
                <img src="{{ site.baseurl }}/images/snap.png" alt="snapchat">
            </a>
        </div>
    </div>
</div>
       