    <div class="foter">
        <div class="row">
            <div class="col-12 col-md-4">

            <!-- link naar voorwaarden -->
                <p>
                    <a href="voorwaarden.html" class="letter2">Voorwaarden</a>
                </p>

            <!-- link naar contact -->
                <p>
                    <a href="over_ons.html"class="letter2">contact</a>
                </p>

            <!-- link naar kinepolis Gent -->
                <p class="letter2">
                    cinematickets zijn verkrijgbaar via: 
                    <a href="https://kinepolis.be/nl/bioscopen/kinepolis-gent" target="_blank"> 
                    www.utopolis.be/Gent
                    </a>
                </p>
            </div>

<!-- social media icons -->

            <div class="col-2">

            <!-- twitter -->
                <a href="http://twitter.com" target="_blank">
                    <img src="{{ site.baseurl }}/images/twit.png" class="img-fluid md_grote" alt="twitter">
                </a>
            </div>

            <div class="col-2">

            <!-- facebook -->
                <a href="http://facebook.com" target="_blank">
                    <img src="{{ site.baseurl }}/images/face.png" class="img-fluid md_grote" alt="facebook">
                </a>
            </div>

            <div class="col-2">

            <!-- instagram -->
                <a href="http://instagram.com" target="_blank">
                    <img src="{{ site.baseurl }}/images/insta.png" class="img-fluid md_grote" alt="instagram">
                </a>
            </div>

            <div class="col-2">
            <!-- snapchat -->
                <a href="" target="_blank">
                    <img src="{{ site.baseurl }}/images/snap.png" class="img-fluid md_grote" alt="snapchat">
                </a>
            </div>
        </div>
    </div>
       