<!--nav class="navbar fixed-bottom navbar-light bg-light">
{%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
{%- endif %}
</nav-->

<div class:"row">
    <div class="col-4">
        <p>
            <a href="voorwaarden.html">Voorwaarden</a>
        </p>
    </div>
</div>

<div class:"row">
    <div class="col-4">
        <p>
            <a href="over_ons.html">contact</a>
        </p>
    </div>
</div>

<div class:"row">
    <div class="col-12">
        <p>
            cinematickets zijn verkrijgbaar via: <a href="https://kinepolis.be/nl/bioscopen/kinepolis-gent" target="_blank"> www.utopolis.be/Gent</a>
        </p>
    </div>
</div>