
/* algemeen */
    .knop {
        margin-top: 20px;
        margin-bottom: 80px;
        margin-left: 200px;
    }
    .groteknop {
        margin-top: 20px;
        margin-bottom: 80px;
    
    }
   
    .letter2{
        font-family: 'Contrail One', cursive;
    }

    .titelkader {
        background-color: rgb(40,35,42) ;
        padding: 6px;
        margin-top:30px;
        margin-right: 80px;
        margin-left: -20px;
        color: rgb(227,227,227);
        border: 1px solid ;
        border-bottom-right-radius: 40px;
    }

    .witruimte {
        margin-bottom: 30px;
    }

    .spatie {
        margin-top: 20px;
    }

/* index css */

    .sticky {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: -50px;
        width:100%;
        bottom:50px;
    }

    .sticky:hover, .sticky:active {
        transform: scale(1.2);
        transition: 0.5s;
    }

    .inleiding { 
        margin-bottom: 30px;
        font-size: 0.95em;
    }

/* wie zijn we css */

/* meet teddy css*/

/* reserveer css */

    /* reserveer kalender*/
        .kalender {
            margin-bottom: -50px;
        }
        .legende{
            margin-top: -120px;
            margin-bottom: 40px;
        }
        
        .ochtend{
            list-style-type: square;
           color: rgb(250,181,12); 
        }

        .middag{
            list-style-type: square;
            color: rgb(221,128,10);
        }

        .avond{
            list-style-type: square;
            color: rgb(117,46,67);
        }

        .gesloten{
            list-style-type: square;
            color: rgb(156,31,45);
        }

        .klein{
            font-size: 0.75em;
            
        }

        .lijstje {
            list-style-image: url(../../images/)
        }
    /* reserveer gegevens*/

        .modal-content {
            padding: 10px;
        }

/* voorwaarden css */

/* footer */

    .foter{
        background-color: rgb(87,87,98);
        padding: 30px;
    }


    // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
    /* algemeen */
        .titelkader {
            background-color: rgb(40,35,42) ;
            padding: 6px;
            margin-top:30px;
            margin-right: 100px;
            margin-left: -100px;
            color: rgb(227,227,227);
            border: 1px solid ;
            border-bottom-right-radius: 40px;
        }

        .witruimte {
            margin-bottom: 60px;
        }

        .spatie {
            margin-top: 20px;
        }

        .knop {
            margin-top: 20px;
            margin-bottom: 80px;
        }

    /* wie zijn we */
        
        .naam{
            margin-right: 60px;
        }

        .opschuiven {
            margin-left: 60px;
        }

    /* footer */

        .foter{
            background-color: rgb(87,87,98);
            padding: 30px;
        }
       
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }