

.knop {
    margin-top: 20px;
    margin-bottom: 80px;
}
 
.banaan{
    border: 1px solid yellow;
}



/* index css */

img.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
}

.inleiding { 
    margin-bottom: 30px;
}

h3 {

}

/* #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 3px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: grey;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  } */

/* wie zijn we css */

    .contactinleiding{
        margin-top: 20px; 
        margin-bottom: 10px;
    }

    .verzend {
        margin-bottom: 8px;
    }

/* meet teddy css*/

/* reserveer css */

    /* reserveer gegevens*/

        .modal-content {
            padding: 10px;
        }

/* voorwaarden css */

