.lettertyp2{
   font-family: 'Contrail One', cursive; 
   color: rgb(227,227,227)!important;
}

nav.navbar {
    background-color: rgb(87,87,98)!important;
    color: rgb(227,227,227)!important;
    
}
